.container {
    width: 500px;
    height: 500px;
    border: 1px solid red;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
}


.div {
    border: 1px solid black;
}